{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
<!-- Website Template designed by www.downloadwebsitetemplates.co.uk -->
<meta charset="UTF-8">
<title>Prestame.la</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--[if IE]><![endif]-->
<link rel="stylesheet" href="{% static 'under_construction/css/style.css'%}">
<script src="{% static 'under_construction/js/jquery.js'%}"></script>
<script src="{% static 'under_construction/js/countdown.js'%}"></script>
<script src="{% static 'under_construction/js/owlcarousel.js'%}"></script>
<script src="{% static 'under_construction/js/uikit.scrollspy.js'%}"></script>
<script src="{% static 'under_construction/js/scripts.js'%}"></script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body id="backtotop">
<div class="fullwidth clearfix">
	<div id="topcontainer" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
		<p><span class="fa fa-signal"></span></p>
		<h1><span>Prestame.la</span><br />Página en contrucción</h1>
		<p>Pronto podrás disfrutar de nuestro servicio.</p>

	</div>
</div>
<div class="arrow-separator arrow-white"></div>
<div class="fullwidth colour1 clearfix">
	<div id="countdown" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
		<div id="countdowncont" class="clearfix">
			<ul id="countscript">
				<li>
					<span class="days">30</span>
					<p>Days</p>
				</li>
				<li>
					<span class="hours">12</span>
					<p>Hours</p>
				</li>
				<li class="clearbox">
					<span class="minutes">15</span>
					<p>Minutes</p>
				</li>
				<li>
					<span class="seconds">00</span>
					<p>Seconds</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="arrow-separator arrow-theme"></div>
<div class="fullwidth colour2 clearfix">
	<div id="maincont" class="bodycontainer clearfix" data-uk-scrollspy="{cls:'uk-animation-fade', delay: 300, repeat: true}">
		<h2>
			Compra ahora, disfruta ahora y paga en 3 meses
		</h2>
		<p>
			<strong>
				Convierte tus deseos en compras reales, con transparencia total
				sin costos ocultos y con un interés muy competitivo en el mercado,
				aprobación 100% online sin filas, sin salir de casa, facilitamos tus compras.
			</strong>
		</p>
		<h2>
			Adiciona Prestame.la en tu Checkout
		</h2>
		<p>
			<strong>
				Convierte Vistas en Ventas reales, permite a tus clientes pagar en
				cuotas esto incrementa tu rate de ventas,  nosotros asumimos el Score
				y te pagamos al instante, la integración no tiene costo y eleva
				tu promedio de conversiones.
			</strong>
		</p>
	</div>
</div>
<div class="arrow-separator arrow-themelight"></div>
<div class="arrow-separator arrow-grey"></div>
</body>
</html>
