{% load static %}
{% load filters %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Prestamela</title>
    <meta charset="utf-8" />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <link href="{% static 'fa/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-social.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.min.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.0.min.js' %}" charset="utf-8"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row header-body">
                <div class="logos">
                    <div class="pretamela_logo pull-left">
                        <img src="{% static 'img/logo.png'%}" alt="logo prestamela">
                    </div>
                    <div class="ecommerce_logo pull-left">
                        <img src="{{logo_url}}" alt="logo ecommerce">
                    </div>
                </div>
                <div class="pasos pull-right">
                    <div class="stepwizard">
                        <div class="stepwizard-row">
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-primary btn-circle finan-btn" disabled>1</button>
                                <p>Financiación</p>
                            </div>
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-default btn-circle ident-btn" disabled>2</button>
                                <p>Identificación</p>
                            </div>
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-default btn-circle auten-btn" disabled>3</button>
                                <p>Autenticación</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <hr>
        <section>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            Decide cuánto quieres pagar y cuándo.
                        </h2>
                    </div>
                    <div id="financiacion" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 financiacion-div">
                                    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            Quiero financiar mi compra a
                                            <select class="form-control meses" id="meses" required>
                                                <option value="1">1 meses</option>
                                                <option value="2">2 meses</option>
                                                <option value="3">3 meses</option>
                                                <option value="4">4 meses</option>
                                                <option value="5">5 meses</option>
                                                <option value="6" selected>6 meses</option>
                                            </select>
                                            y pagar el
                                            <select class="form-control dia" id="dia" required>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15" selected>15</option>
                                            </select>
                                            de cada mes.
                                        </div>
                                    </form>
                                    <div class="subtotal">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="nz-label pull-left">
                                                    <p>Subtotal productos:</p>
                                                    <p>Administración:</p>
                                                    <p>Seguro:</p>
                                                    <p>Plataforma:</p>
                                                    <p>IVA (19%):</p>
                                                    <p>Interés:</p>
                                                    <p>Total:</p>
                                                </div>
                                                <div class="nz-value pull-left">
                                                    <p>$ {{total|intcomma}}</p>
                                                    <p>$ {{config.admin_costs|intcomma}}</p>
                                                    <p>$ {{config.insurance|intcomma}}</p>
                                                    <p>$ {{config.system_costs|intcomma}}</p>
                                                    <p>$ {{config.get_iva|intcomma}}</p>
                                                    <p id="interes">$ </p>
                                                    <p id="total">$ </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="circulo resultados">
                                                    <p id="valor_cuotas"></p>
                                                    <p id="num_cuotas"></p>
                                                    <p id="dia_cuotas"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 15px 30px;">
                                <button id="continuar" type="button" class="btn btn-default btn-lg">Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-user"></span>
                            Identifícate en un clic.
                        </h2>
                    </div>
                    <div id="identificacion" style="display:none;">
                        <div class="panel-body">
                            Para que podamos aprobar tu crédito, necesitamos que
                            te identifiques ingresado con tu cuenta de Facebook
                            o de LinkedIn.
                            <div class="row">
                                <div class="facebook_btn pull-left ">
                                    <div class="social-lg-btn pull-left">
                                        <a class="facebook-login btn btn-block btn-lg btn-social btn-facebook">
                                            <span class="fa fa-facebook"></span> Ingresar con Facebook
                                        </a>
                                    </div>
                                    <div class="pull-left fb-loading-icon">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </div>
                                    <div class="pull-left fb-completed-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pull-left fb-error-icon">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="linkedin_btn pull-left ">
                                    <div class="social-lg-btn pull-left">
                                        <a class="btn btn-block btn-lg btn-social btn-linkedin">
                                            <span class="fa fa-linkedin"></span> Ingresar con LinkedIn
                                        </a>
                                    </div>
                                    <div class="pull-left li-loading-icon">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </div>
                                    <div class="pull-left li-completed-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pull-left li-error-icon">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="inscription" style="padding: 0 10%">
                                <div class="alert alert-danger" id="form_error_msg"></div>
                                <h3>Formulario de solicitud</h3>
                                <p>Por favor complete el siguiente formulario con la información solicitada, todos los campos son necesarios para enviar la solicitud</p>
                                <form class="form-horizontal" id="request_form">
                                    {% csrf_token %}
                                    <h4 style="text-align: center;margin-top: 30px;">Información básica</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Nombre(s): *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="" required value="Luis Miguel">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Apellido(s): *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="" required value="Gutierrez Ramirez">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Tipo de documento: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="document_type" id="document_type" required>
                                                    <option value="">Seleccione un tipo de documento</option>
                                                    <option value="1" selected>C.C</option>
                                                    <option value="2">C.E</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Número de documento: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" name="document_id" id="document_id" placeholder="" required value="1026569840">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Fecha de expedición: *</label>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input type="text" class="datepicker form-control" id="expedition_date" name="expedition_date" placeholder="" aria-describedby="basic-addon2" required value="2009-12-18">
                                                    <span class="input-group-addon" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="gender" class="col-sm-12">Género: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="gender" id="gender" required>
                                                    <option value="">Seleccione un tipo género</option>
                                                    <option value="f">Femenino</option>
                                                    <option value="m" selected>Masculino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="birthdate" class="col-sm-12">Fecha de nacimiento: *</label>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input type="text" class="datepicker form-control" id="birthdate" name="birthdate" placeholder="" aria-describedby="basic-addon3" required value="1991-12-11">
                                                    <span class="input-group-addon" id="basic-addon3"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="email" class="col-sm-12">Correo electrónico: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="" required value="ryuuzakiupldr@gmail.com">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="phone" class="col-sm-12">Teléfono celular: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="phone" name="phone" placeholder="" required value="3015917459">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="civil_status" class="col-sm-12">Estado civil: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="civil_status" id="civil_status" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1" selected>Soltero(a)</option>
                                                    <option value="2">Casado(a)</option>
                                                    <option value="3">Union Libre</option>
                                                    <option value="4">Divorciado(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="education_level" class="col-sm-12">Nivel de estudios: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="education_level" id="education_level" required>
                                                    <option value="">Seleccione un nivel</option>
                                                    <option value="1">Media (secundaria)</option>
                                                    <option value="2">Tecnico o Tecnologo</option>
                                                    <option value="3" selected>Pregrado</option>
                                                    <option value="4">Postgrado</option>
                                                    <option value="5">Maestria</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="vehicle" class="col-sm-12">Vehiculo propio: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="vehicle" id="vehicle" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1" selected>si</option>
                                                    <option value="2">no</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información residencial</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="address_residence" class="col-sm-12">Dirección: *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="address_residence" id="address_residence" placeholder="" required value="calle 123">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="type_of_property" class="col-sm-12">Tipo de vivienda: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="type_of_property" id="type_of_property" required>
                                                    <option value="">Seleccione un tipo</option>
                                                    <option value="1">Propia</option>
                                                    <option value="2">Familiar</option>
                                                    <option value="3" selected>En Arriendo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="time_in_property" class="col-sm-12">Tiempo de permanencia: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="time_in_property" id="time_in_property" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1">Menor a 1 año</option>
                                                    <option value="2" selected>de 1 a 5 años</option>
                                                    <option value="3">de 5 a 10 años</option>
                                                    <option value="4">Mayor a 10 años</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información laboral</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="work_activity" class="col-sm-12">Actividad laboral: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="work_activity" id="work_activity" required>
                                                    <option value="">Seleccione una actividad</option>
                                                    <option value="1">Empleado(a)</option>
                                                    <option value="2" selected>Independiente</option>
                                                    <option value="3">Estudiante</option>
                                                    <option value="4">Pensionado(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="work_type" class="col-sm-12">Tipo de actividad (opcional):</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="work_type" id="work_type" required>
                                                    <option value="">Seleccione una actividad</option>
                                                    <option value="1" selected>Empresario(a) Pyme</option>
                                                    <option value="2">Emprendedor(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="time_in_work" class="col-sm-12">Antigüedad laboral:</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="time_in_work" id="time_in_work" required>
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="1">Menor a 1 año</option>
                                                    <option value="2" selected>de 1 a 5 años</option>
                                                    <option value="3">de 5 a 10 años</option>
                                                    <option value="4">Mayor a 10 años</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Referencia personal</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_first_name" class="col-sm-12">Nombre(s): *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="personal_reference_first_name" id="personal_reference_first_name" placeholder="" required value="Nombre ref">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_last_name" class="col-sm-12">Apellido(s): *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="personal_reference_last_name" id="personal_reference_last_name" placeholder="" required value="Apellido ref">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_" class="col-sm-12">Teléfono celular: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="personal_reference_phone" name="personal_reference_phone" placeholder="" required value="3015917564">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_city" class="col-sm-12">Ciudad: *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="personal_reference_city" id="personal_reference_city" placeholder="" required value="Bogotá">
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información financiera</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="mensual_outgoings" class="col-sm-12">Total gastos mensuales: *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="mensual_outgoings" id="mensual_outgoings" placeholder="" required value="1500000">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="mensual_incomings" class="col-sm-12">Ingresos netos mensuales: *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="mensual_incomings" id="mensual_incomings" placeholder="" required value="4000000">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="favorite_bank" class="col-sm-12">Banco de su preferencia para realizar pagos: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="favorite_bank" id="favorite_bank" required>
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="1" selected>Bancolombia</option>
                                                    <option value="2">Davivienda</option>
                                                    <option value="3">BBVA</option>
                                                    <option value="4">Puntos Baloto</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row" style="padding: 15px 30px;">
                                <button id="continuar2" type="button" class="btn btn-default btn-lg" disabled>Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Firma con tu código SMS.
                        </h2>
                    </div>
                    <div id="autenticacion" style="display:none;">
                        <div class="panel-body">
                            <div id="verification_error_msg" class="alert alert-danger"></div>
                            <div id="verification_success_msg" class="alert alert-success"></div>
                            <div id="phone-p">
                                <p>
                                    Para que podamos autenticar que tú eres el dueño de la
                                    cuenta de identificación, te enviaremos un código de 4
                                    dígitos a tu número celular.
                                </p>
                                Ingresa tu número de telefono celular:
                                <input type="text" id="phone_number" class="form-control">
                                <button id="sms-btn" type="button" class="btn btn-default btn form-control" disabled>Enviar Código</button>
                            </div>
                            <div id="confirm-sms-p" style="display:none;">
                                <div class="col-xs-12 col-sm-4">
                                    Ingresa el codigo de confirmación que llegó a tu <strong>teléfono celular</strong>:
                                    <input type="text" id="confirmation_code" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    Ingresa el codigo de confirmación que llegó a tu <strong>correo electrónico</strong>:
                                    <input type="text" id="email_confirmation_code" class="form-control">
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <button id="finish-btn" type="button" class="btn btn-default btn form-control" disabled>Finalizar solicitud</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            &copy; Todos los derechos reservados
        </footer>
    </div>
    <script type="text/javascript">
    var global_ajax_get_score_url       = '{% url 'api:ajax_get_score'%}';
    var global_ajax_check_email_code    = '{% url 'api:ajax_check_email_code'%}';
    var global_ajax_create_credit_user  = '{% url 'api:ajax_create_credit_user'%}';
    function ajax_get_score(){
        data = {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'document_type': $('#document_type').val(),
            'document_id': $('#document_id').val(),
            'first_name': $('#first_name').val(),
            'second_name': $('#second_name').val(),
            'last_name': $('#last_name').val(),
            'second_last_name': $('#second_last_name').val(),
            'expedition_date': $('#expedition_date').val(),
            'birthdate': $('#birthdate').val(),
            'gender': $('#gender').val(),
            'email': $('#email').val(),
            'phone': $('#phone').val(),
            'civil_status': $('#civil_status').val(),
            'address_residence': $('#address_residence').val(),
            'type_of_property': $('#type_of_property').val(),
            'work_activity': $('#work_activity').val(),
            'work_type': $('#work_type').val(),
            'personal_reference_first_name': $('#personal_reference_first_name').val(),
            'personal_reference_second_name': $('#personal_reference_second_name').val(),
            'personal_reference_last_name': $('#personal_reference_last_name').val(),
            'personal_reference_second_last_name': $('#personal_reference_second_last_name').val(),
            'personal_reference_phone': $('#personal_reference_phone').val(),
            'personal_reference_city' :$('#personal_reference_city').val()
        }
        console.log(data);
        var jqxhr = $.post('{% url 'api:ajax_get_score'%}', data, function(r) {
            manage_score_response(r);
        })
        .fail(function() {
            //alert( "error" );
        });
    }
    function check_email_code(sms_code) {
        data = {
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'email_confirmation_code': $('input#email_confirmation_code').val(),
            'email': $('input#email').val(),
            'sms_code': sms_code,
        }
        var jqxhr = $.post('{% url 'api:ajax_check_email_code'%}', data, function(r) {
            if(r.status){
                ajax_get_score();
            }else{
                show_verification_error('Error al verificar el codigo enviado al correo electrónico, porfavor intente de nuevo.');
            }
        })
        .fail(function() {
            show_verification_error('Error al verificar el codigo enviado al correo electrónico, porfavor intente de nuevo.');
        });
    }
    function create_new_user(){
        data = {
            'months': $('#meses').val(),
            'pay_day': $('#dia').val(),
            'price': '{{total}}',
            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
            'document_type': $('#document_type').val(),
            'document_id': $('#document_id').val(),
            'first_name': $('#first_name').val(),
            'second_name': $('#second_name').val(),
            'last_name': $('#last_name').val(),
            'second_last_name': $('#second_last_name').val(),
            'expedition_date': $('#expedition_date').val(),
            'birthdate': $('#birthdate').val(),
            'gender': $('#gender').val(),
            'email': $('#email').val(),
            'phone': $('#phone').val(),
            'civil_status': $('#civil_status').val(),
            'address_residence': $('#address_residence').val(),
            'type_of_property': $('#type_of_property').val(),
            'work_activity': $('#work_activity').val(),
            'work_type': $('#work_type').val(),
            'personal_reference_first_name': $('#personal_reference_first_name').val(),
            'personal_reference_second_name': $('#personal_reference_second_name').val(),
            'personal_reference_last_name': $('#personal_reference_last_name').val(),
            'personal_reference_second_last_name': $('#personal_reference_second_last_name').val(),
            'personal_reference_phone': $('#personal_reference_phone').val(),
            'personal_reference_city' :$('#personal_reference_city').val(),
            'mensual_outgoings' :$('#mensual_outgoings').val(),
            'mensual_incomings' :$('#mensual_incomings').val(),
            'favorite_bank' :$('#favorite_bank').val()
        }
        var jqxhr = $.post('{% url 'api:ajax_create_credit_user'%}', data, function(r) {
            if(r.status){
                $('.ident-btn').removeClass('btn-primary');
                $('.ident-btn').addClass('btn-default');
                $('.auten-btn').removeClass('btn-default');
                $('.auten-btn').addClass('btn-primary');
                $('#autenticacion').slideDown();
            }
        })
        .fail(function() {
            //alert( "error" );
        });
    }
    </script>
    <script src="{% static 'js/fb.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:   '78w4d0nij9mmcg'
        authorize: true
        lang:      'es_ES'
    </script>
    <script src="{% static 'js/sinch.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>
    <script type="text/javascript">
    $(function() {
        var subtotal = {{total}};
        var admin = {{config.admin_costs}};
        var seguro = {{config.insurance}};
        var plataf = {{config.system_costs}};
        var iva = {{config.get_iva}};
        var tasa = {{config.interest}};
        var meses = $('#meses').val();
        var interes = calcular_cuota(subtotal, tasa, meses);
        var total = subtotal + admin + seguro + plataf + iva + interes;
        $('#total').text('$' + parseInt(total).toLocaleString());
        $('#dia_cuotas').text('día ' + $('#dia').val());
        $('#meses').on('change', function(e){
            meses = $('#meses').val();
            interes = calcular_cuota(subtotal, tasa, meses);
            total = subtotal + admin + seguro + plataf + iva + interes;
            $('#total').text('$' + parseInt(total).toLocaleString());
        });
    });
    </script>
</body>
</html>
