{% load static %}
{% load filters %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Prestamela</title>
    <meta charset="utf-8" />
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <link href="{% static 'fa/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-social.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.min.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.2.0.min.js' %}" charset="utf-8"></script>

    {# <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="fa/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-social.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
    <script src="js/jquery-3.2.0.min.js" charset="utf-8"></script> #}
</head>
<body>
    <div class="container">
        <header>
            <div class="row header-body">
                <div class="logos">
                    <div class="pretamela_logo pull-left">
                        <img src="{% static 'img/logo.png'%}" alt="logo prestamela">
                    </div>
                    <div class="ecommerce_logo pull-left">
                        <img src="{{logo_url}}" alt="logo ecommerce">
                    </div>
                </div>
                <div class="pasos pull-right">
                    <div class="stepwizard">
                        <div class="stepwizard-row">
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-primary btn-circle finan-btn" disabled>1</button>
                                <p>Financiación</p>
                            </div>
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-default btn-circle ident-btn" disabled>2</button>
                                <p>Identificación</p>
                            </div>
                            <div class="stepwizard-step">
                                <button type="button" class="btn btn-default btn-circle auten-btn" disabled>3</button>
                                <p>Autenticación</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <hr>
        <section>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-folder-close"></span>
                            Decide cuánto quieres pagar y cuándo.
                        </h2>
                    </div>
                    <div id="financiacion" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 financiacion-div">
                                    <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            Quiero financiar mi compra a
                                            <select class="form-control meses" id="meses" required>
                                                <option value="1">1 meses</option>
                                                <option value="2">2 meses</option>
                                                <option value="3">3 meses</option>
                                                <option value="4">4 meses</option>
                                                <option value="5">5 meses</option>
                                                <option value="6" selected>6 meses</option>
                                            </select>
                                            y pagar el
                                            <select class="form-control dia" id="dia" required>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15" selected>15</option>
                                            </select>
                                            de cada mes.
                                        </div>
                                    </form>
                                    <div class="subtotal">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div class="nz-label pull-left">
                                                    <p>Subtotal productos:</p>
                                                    <p>Administración:</p>
                                                    <p>Seguro:</p>
                                                    <p>Plataforma:</p>
                                                    <p>IVA (19%):</p>
                                                    <p>Interés:</p>
                                                    <p>Total:</p>
                                                </div>
                                                <div class="nz-value pull-left">
                                                    <p>$ {{total|intcomma}}</p>
                                                    <p>$ {{config.admin_costs|intcomma}}</p>
                                                    <p>$ {{config.insurance|intcomma}}</p>
                                                    <p>$ {{config.system_costs|intcomma}}</p>
                                                    <p>$ {{config.get_iva|intcomma}}</p>
                                                    <p id="interes">$ </p>
                                                    <p id="total">$ </p>
                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="circulo resultados">
                                                    <p id="valor_cuotas"></p>
                                                    <p id="num_cuotas"></p>
                                                    <p id="dia_cuotas"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding: 15px 30px;">
                                <button id="continuar" type="button" class="btn btn-default btn-lg">Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-user"></span>
                            Identifícate en un clic.
                        </h2>
                    </div>
                    <div id="identificacion" style="display:none;">
                        <div class="panel-body">
                            Para que podamos aprobar tu crédito, necesitamos que
                            te identifiques ingresado con tu cuenta de Facebook
                            o de LinkedIn.
                            <div class="row">
                                <div class="facebook_btn pull-left ">
                                    <div class="social-lg-btn pull-left">
                                        <a class="facebook-login btn btn-block btn-lg btn-social btn-facebook">
                                            <span class="fa fa-facebook"></span> Ingresar con Facebook
                                        </a>
                                    </div>
                                    <div class="pull-left fb-loading-icon">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </div>
                                    <div class="pull-left fb-completed-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pull-left fb-error-icon">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="linkedin_btn pull-left ">
                                    <div class="social-lg-btn pull-left">
                                        <a class="btn btn-block btn-lg btn-social btn-linkedin">
                                            <span class="fa fa-linkedin"></span> Ingresar con LinkedIn
                                        </a>
                                    </div>
                                    <div class="pull-left li-loading-icon">
                                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                    </div>
                                    <div class="pull-left li-completed-icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                    <div class="pull-left li-error-icon">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="inscription" style="padding: 0 10%">
                                <h3>Formulario de solicitud</h3>
                                <p>Por favor complete el siguiente formulario con la información solicitada, todos los campos son necesarios para enviar la solicitud</p>
                                <form class="form-horizontal">
                                    <h4 style="text-align: center;margin-top: 30px;">Información básica</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Primer nombre: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="first_name" id="first_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Segundo nombre: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="second_name" id="second_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Primer apellido: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="last_name" id="last_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputEmail3" class="col-sm-12">Segundo apellido: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="second_last_name" id="second_last_name" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Tipo de documento: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="document_type" id="document_type" required>
                                                    <option value="">Seleccione un tipo de documento</option>
                                                    <option value="1">C.C</option>
                                                    <option value="2">C.E</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Número de documento: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" name="document_id" id="document_id" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Fecha de expedición: *</label>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input type="text" class="datepicker form-control" id="expedition_date" name="expedition_date" placeholder="" aria-describedby="basic-addon2" required>
                                                    <span class="input-group-addon" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Género: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="gender" id="gender" required>
                                                    <option value="">Seleccione un tipo género</option>
                                                    <option value="f">Femenino</option>
                                                    <option value="m">Masculino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Fecha de nacimiento: *</label>
                                            <div class="col-sm-12">
                                                <div class="input-group">
                                                    <input type="text" class="datepicker form-control" id="birthdate" name="birthdate" placeholder="" aria-describedby="basic-addon3" required>
                                                    <span class="input-group-addon" id="basic-addon3"><span class="fa fa-calendar"></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Correo electrónico: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="inputPassword3" class="col-sm-12">Teléfono celular: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="phone" name="phone" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="civil_status" class="col-sm-12">Estado civil: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="civil_status" id="civil_status" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1">Soltero(a)</option>
                                                    <option value="2">Casado(a)</option>
                                                    <option value="3">Union Libre</option>
                                                    <option value="4">Divorciado(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="education_level" class="col-sm-12">Nivel de estudios: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="education_level" id="education_level" required>
                                                    <option value="">Seleccione un nivel</option>
                                                    <option value="1">Media (secundaria)</option>
                                                    <option value="2">Tecnico o Tecnologo</option>
                                                    <option value="3">Pregrado</option>
                                                    <option value="4">Postgrado</option>
                                                    <option value="5">Maestria</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="vehicle" class="col-sm-12">Vehiculo propio: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="vehicle" id="vehicle" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1">si</option>
                                                    <option value="2">no</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información residencial</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="address_residence" class="col-sm-12">Dirección: *</label>
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control" name="address_residence" id="address_residence" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="type_of_property" class="col-sm-12">Tipo de vivienda: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="type_of_property" id="type_of_property" required>
                                                    <option value="">Seleccione un tipo</option>
                                                    <option value="1">Propia</option>
                                                    <option value="2">Familiar</option>
                                                    <option value="3">En Arriendo</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="time_in_property" class="col-sm-12">Tiempo de permanencia: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="time_in_property" id="time_in_property" required>
                                                    <option value="">Seleccione un estado</option>
                                                    <option value="1">Menor a 1 año</option>
                                                    <option value="2">de 1 a 5 años</option>
                                                    <option value="3">de 5 a 10 años</option>
                                                    <option value="4">Mayor a 10 años</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información laboral</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="work_activity" class="col-sm-12">Actividad laboral: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="work_activity" id="work_activity" required>
                                                    <option value="">Seleccione una actividad</option>
                                                    <option value="1">Empleado(a)</option>
                                                    <option value="2">Independiente</option>
                                                    <option value="3">Estudiante</option>
                                                    <option value="4">Pensionado(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="work_type" class="col-sm-12">Tipo de actividad (opcional):</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="work_type" id="work_type" required>
                                                    <option value="">Seleccione una actividad</option>
                                                    <option value="1">Empresario(a) Pyme</option>
                                                    <option value="2">Emprendedor(a)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="time_in_work" class="col-sm-12">Antigüedad laboral:</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="time_in_work" id="time_in_work" required>
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="">Menor a 1 año</option>
                                                    <option value="">de 1 a 5 años</option>
                                                    <option value="">de 5 a 10 años</option>
                                                    <option value="">Mayor a 10 años</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Referencia personal</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_first_name" class="col-sm-12">Primer nombre: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="personal_reference_first_name" id="personal_reference_first_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_second_name" class="col-sm-12">Segundo nombre: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="personal_second_name" id="personal_second_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_last_name" class="col-sm-12">Primer apellido: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="personal_last_name" id="personal_last_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_second_last_name" class="col-sm-12">Segundo apellido: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="personal_second_last_name" id="personal_second_last_name" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_reference_" class="col-sm-12">Teléfono celular: *</label>
                                            <div class="col-sm-12">
                                                <input type="number" class="form-control" id="personal_reference_phone" name="personal_reference_phone" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="personal_second_city" class="col-sm-12">Ciudad: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="personal_second_city" id="personal_second_city" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <h4 style="text-align: center;margin-top: 30px;">Información financiera</h4>
                                    <div class="form-group row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="mensual_outgoings" class="col-sm-12">Total gastos mensuales: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="mensual_outgoings" id="mensual_outgoings" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="mensual_incomings" class="col-sm-12">Ingresos netos mensuales: *</label>
                                            <div class="col-sm-12">
                                                <input type="email" class="form-control" name="mensual_incomings" id="mensual_incomings" placeholder="" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label for="favorite_bank" class="col-sm-12">Banco de su preferencia para realizar pagos: *</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="favorite_bank" id="favorite_bank" required>
                                                    <option value="">Seleccione una opción</option>
                                                    <option value="1">Bancolombia</option>
                                                    <option value="2">Davivienda</option>
                                                    <option value="3">BBVA</option>
                                                    <option value="4">Puntos Baloto</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row" style="padding: 15px 30px;">
                                <button id="continuar2" type="button" class="btn btn-default btn-lg" disabled>Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-th"></span>
                            Firma con tu código SMS.
                        </h2>
                    </div>
                    <div id="autenticacion" style="display:none;">
                        <div class="panel-body">
                            <p>
                                Para que podamos autenticar que tú eres el dueño de la
                                cuenta de identificación, te enviaremos un código de 4
                                dígitos a tu número celular.
                            </p>
                            <p id="phone-p">
                                Ingresa tu número de telefono celular:
                                <input type="text" id="phone_number">
                                <button id="sms-btn" type="button" class="btn btn-default btn" disabled>Enviar Código</button>
                            </p>
                            <p id="confirm-sms-p" style="display:none;">
                                Ingresa el codigo de confirmación que llegó a tu telefono celular:
                                <input type="text" id="confirmation_code">
                                <button id="finish-btn" type="button" class="btn btn-default btn" disabled>Finalizar solicitud</button>
                            </p>
                            <p id="final-p" style="display:none;">
                                El usuario ha sido confirmado, Pronto nos pondremos con contacto contigo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <hr>
            &copy; Todos los derechos reservados
        </footer>
    </div>
    <script src="{% static 'js/fb.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/index.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}" charset="utf-8"></script>

    {# <script src="js/bootstrap-datepicker.min.js" charset="utf-8"></script>
    <script src="js/jquery.validate.min.js" charset="utf-8"></script>
    <script src="js/fb.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script> #}

    <script type="text/javascript">
    $(function() {
        var subtotal = {{total}};
        var admin = {{config.admin_costs}};
        var seguro = {{config.insurance}};
        var plataf = {{config.system_costs}};
        var iva = {{config.get_iva}};
        var tasa = {{config.interest}};
        var meses = $('#meses').val();
        var interes = calcular_cuota(subtotal, tasa, meses);
        var total = subtotal + admin + seguro + plataf + iva + interes;
        $('#total').text('$' + parseInt(total).toLocaleString());
        $('#dia_cuotas').text('día ' + $('#dia').val());
        $('#meses').on('change', function(e){
            meses = $('#meses').val();
            interes = calcular_cuota(subtotal, tasa, meses);
            total = subtotal + admin + seguro + plataf + iva + interes;
            $('#total').text('$' + parseInt(total).toLocaleString());
        });
    });
    </script>
</body>
</html>
