<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div class="content">
        <h3>Tratamiento de datos personales en la plataforma Prestame.la y sitios relacionados </h3>
        <p>El presente documento se presenta en cumplimiento de las disposiciones de habeas data, en especial la ley 1581 de 2012 y sus decretos reglamentarios. En esa medida la recolección y tratamiento de tus datos personales así como el de nuestros clientes, usuarios y empleados está sujeta a las normas vigentes en la República de Colombia sobre protección de datos personales. </p>

        <h3>Uso de la información personal</h3>
        <p>Como parte de las actividades de prestación de servicios de PRESTAME.LA, en particular el estudio y otorgamiento de créditos, gestiones de cobranza, actualización de datos, reporte a centrales de riesgo, contacto a clientes y usuarios, será requerida la entrega de datos tales como tu nombre, dirección, edad, así como otra información de contacto como tus números de teléfono y dirección electrónica e información específica en torno a tus referencias y condiciones económicas, así como otra información relevante proveniente de ti como el titular de las solicitudes y créditos y tus redes sociales de internet que nos permiten conocerte mejor y facilitan el ejercicio de las actividades propias de PRESTAME.LA. </p>

        <h3>Responsable de la base de datos </h3>
        <p>COMPAÑÍA PRESTAMEXXX SAS, en adelante PRESTAME.LA empresa de carácter comercial identificada con C.C 80’208.393, domiciliada en la Calle 165b #14ª-07 (1418) Bogotá; correo electrónico ayuda@Prestame.la.com, teléfono de contacto (+571) 5271108 (línea administrativa, No. de servicio al cliente). </p>
    </div>
</body>
</html>
